<!-- <h3>my name is purushottam kumar</h3> -->
<!-- <app-server></app-server>
<app-servers></app-servers> -->

<div class="container">
   <app-cockpit (serverCreated)="onServerAdded($event)"
   (blueprintCreated)="onServerAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
       <app-servers *ngFor="let serverelement of serverElements"
       [srvElement]="serverelement"> 
       <p>
        <strong *ngIf="serverelement.type === 'server'" style="color: gold">{{ serverelement.content }}</strong>
        <em *ngIf="serverelement.type === 'blueprint'" >{{ serverelement.content }}</em>
      </p>
      </app-servers>
      </div>
    </div>
  </div>
  