<!-- <div>
<h2>First component</h2>

<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <button class="btn btn-primary"  (click)="onCreateServer()">Add Server</button> -->

<!-- <button class="btn btn-primary" [disabled]="serverName=== '' " (click)="serverName='' ">Reset Server</button> -->
<!-- <button class="btn btn-primary" [disabled]="serverName=== '' " (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServe"> Server was created, name is {{serverName}}</p>
<ng-template #noServe>
    <p>No Server was created</p>
</ng-template>
<app-servers *ngFor="let serve of servers"></app-servers>
<!-- <p>{{serverCS}}</p> -->
<!-- </div>
<div>
<button class="btn btn-primary" (click)="showSecret= !showSecret">Display Details</button>
<p *ngIf="showSecret">Secret passwaord = railway</p>
</div> --> 